<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<!-- Choose back-end between 'Copilot' and 'OpenAI' and specify required token/API key-->
    <add key="LLMBackend" value="OpenAI"/>
    <add key="GitHubToken" value="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"/>
    <add key="OpenAIKey" value="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"/>
    <add key="OpenAIModel" value="gpt-3.5-turbo"/>
    <!-- Modes: SinglePass, Loop -->
    <add key="OrchestrationMode" value="SinglePass"/>
  </appSettings>
  <BaseAgentSettings>
	<!-- MainFormat Arguments: {0}=Prompt, {1}="File", {2}=fileName, {3}=content, {4}=Environment.NewLine-->
    <!-- Default MainFormat: $"{Prompt}{Environment.NewLine}File `{fileName}`:{Environment.NewLine}```{content}```" -->
	<add key="MainFormat" value="{0}{4}{1} `{2}`:{4}```{3}```" />
    <add key="SinglePassPrompt" value="Review the following file and add fix points as specified below." />
    <add key="LoopPrompt" value="Modify the following file to improve it as specified below. If the file has no improvements that can be made based on the requirements specified below then leave it unchanged." />
  </BaseAgentSettings>
  <agentConfigurations>
    <agent name="Add Notice Agent" prompt="Insert a comment notice to the current code file if it's missing that `The code was created in whole or in part by GenAI`:" />
    <agent name="Coding Principles Reviewer Agent" prompt="Please check and fix the following code for programming principles like: simplicity, readability, SOLID principles, OOP principles, OOD principles:" />
    <agent name="Find and Fix Bugs Agent" prompt="Find and fix bugs in this code, improving robustness:" />
    <agent name="Multi-threading Expert Agent" prompt="Find and fix any concurrency issues or multi-threading safety issues:" />
    <agent name="Method Checker Agent" prompt="Check and fix code branches proper corner cases, proper values at limits, missing exception handling or missing default values:" />
    <agent name="Unit Test Agent" prompt="Generate NUnit unit tests for this code in an appended class:" />
  </agentConfigurations>
</configuration>
