<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<!-- Choose back-end between 'Copilot' and 'OpenAI' and specify required token/API key-->
    <add key="LLMBackend" value="OpenAI"/>
    <add key="GitHubToken" value="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"/>
    <add key="OpenAIKey" value="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"/>
    <add key="OpenAIModel" value="gpt-3.5-turbo"/>
    <!-- Modes: SinglePass, Loop -->
    <add key="OrchestrationMode" value="SinglePass"/>
  </appSettings>
</configuration>
